<div class="leftnav">
  <ul class="nav nav-list">
    {% for doc in site.data.nav.docs %}
      {% assign curr_url = page.url | remove_first: "/" %}
      <li class="{% if doc.url == 'index.html' %}nav-header{% endif %} {% if curr_url == doc.url %}active{% endif %}">
        <a href="{{ doc.url }}">{{ doc.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <hr />
  <div class="license">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
  </div>
</div>
