---
root: ..
name: article
nav:
-
  name: Overview
  url: index.html
  articles:
  -
    title: Overview
    url: overview.html
  -
    title: Importing a Driver
    url: importing.html
  -
    title: Accessing a DB
    url: accessing.html
  -
    title: Getting Results
    url: retrieving.html
  -
    title: Updates and Transactions
    url: modifying.html
  -
    title: Handling Errors
    url: errors.html
  -
    title: Working with NULLs
    url: nulls.html
  -
    title: Unknown Columns
    url: varcols.html
  -
    title: Connection Pooling
    url: connection-pool.html
  -
    title: Surprises and Limitations
    url: surprises.html
  -
    title: Resources
    url: references.html
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link href="{{ page.root }}/css/prettify.css" type="text/css" rel="stylesheet" />
    <script src="{{ page.root }}/js/prettify.js" type="text/javascript"></script>
    <script src="{{ page.root }}/js/lang-go-rich.js" type="text/javascript"></script>
  </head>
  <body onload="prettyPrint()">
    <div class="container">
      <div class="row">
        <div class="span3">
          {% include leftnav.html %}
        </div>

        <div class="span9">
          <div class="page-header">
            <h1>{{ page.title }}</h1>
            <a href="https://github.com/VividCortex/go-database-sql-tutorial/edit/gh-pages/{{ page.path }}" class="improve-page btn btn-info" target="_blank">Improve this page</a>
          </div>
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
